@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

body {
  margin: 0 !important;
}

ul.file-tree {
  list-style-type: none;
  padding: 0 !important;
  width: 100%;

  li {
    margin-left: 20px;
    cursor: pointer;
    //height: 24px;
  }
}

.hoverIcon {
  color: $gray5;
  cursor: pointer;

  &:hover {
    color: $dark-gray1
  }
}